.card{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;
}
.card:hover{
    box-shadow: 0px 8px 16px black;
}
.desc{
    padding: 10px;
}
img{
    width: 50%;
    padding: 0px 50px;
    
}